<nav>
    <div class="site-title">
        <a href="/"><h1>Chef Crab</h1></a>
        <p>A NicKreb Design Site</p>
    </div>

 <div class="chef-kreb">
        <img 
        src="https://raw.githubusercontent.com/NicKreb/cookbook/9f51f1e957ddedfd0cae7ad2d5695c7504df6a27/assets/Chef%20Crab.svg" 
        height="80px" 
        width="80px"
        >
    </div>

    <ul>
        <li><a href="/">Recipes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/recipes/create">New Recipe</a></li>
    </ul>
</nav>
