<nav>
    <div class="site-title">
        <a href="/"><h1>Chef Crab</h1></a>
        <p>A NicKreb Design Site</p>
    </div>
    <ul>
        <li><a href="/">Recipes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/recipes/create">New Recipe</a></li>
    </ul>
</nav>