<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        <br>
       <img class="not-found 404-image" src="https://raw.githubusercontent.com/NicKreb/cookbook/6e898e8a3f2ecd09d0f4895d1a5628d21b06e9ec/assets/404%20crab.svg" height="400px" width="auto" alt="OOPS, page not found 🦀">
       <br>
       <p class="404-text">Uh Oh! It appears this Recipe does not exist! We apologies for the inconvenience and suggest heading back to the home page!</p>  
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
